[submodule "src/libs/robotic-template-library"]
	path = src/libs/robotic-template-library
	url = https://github.com/Robotics-BUT/Robotic-Template-Library.git
[submodule "src/libs/spdlog"]
	path = src/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/calibrations"]
	path = src/calibrations
	url = https://github.com/Robotics-BUT/Brno-Urban-Dataset-Calibrations.git
[submodule "src/libs/thread-pool"]
	path = src/libs/thread-pool
	url = https://github.com/bshoshany/thread-pool
